@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #020112;
}

.container-fluid.main {
  padding: 0 50px;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  color: #021729;
}

h1 {
  font-size: 30px;
}

#dark-overlay {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: none;
}

#dark-overlay.active {
  display: block;
}

#navbar .nav-logo-wrapper {
  width: 8.95rem;
}

#navbar .nav-logo-wrapper img {
  width: 100%;
}

@media screen and (max-width: 680px) {
  #navbar .nav-logo-wrapper {
    width: 5.5rem;
  }
}

#navbar .nav {
  font-size: 18px;
  font-weight: 700;
}

#navbar .nav .nav-item * {
  color: rgba(0, 0, 0, 0.25);
}

#navbar .nav .nav-item.active * {
  color: #020112;
}

#navbar .nav .nav-item {
  margin: 0 0.5rem;
}

#navbar .nav .nav-item .btn {
  padding: 0.5rem 1rem;
  border: 1px solid #021729;
  border-radius: 25px;
  color: #020112;
}

@media screen and (max-width: 780px) {
  #navbar {
    display: none !important;
  }
}

#navbar-sm {
  padding: 1rem 0;
}

#navbar-sm .nav-logo-wrapper {
  width: 5rem;
}

#navbar-sm .nav-logo-wrapper img {
  width: 100%;
}

@media screen and (min-width: 781px) {
  #navbar-sm {
    display: none !important;
  }
}

.nav-sm {
  position: fixed;
  left: -100%;
  top: 0;
  height: 100%;
  width: 90vw;
  background-color: #fff;
  z-index: 2;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-sm.active {
  left: 0;
}

.nav-sm .nav {
  padding: 1.5rem;
}

.nav-sm .nav .nav-item {
  padding: 0.5rem;
  margin: 1rem;
  border-bottom: 1px solid #ccc;
}

#landing {
  position: relative;
}

#landing .dark-card {
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  background-color: #000;
  max-width: 812px;
  text-align: center;
  padding-bottom: 0;
  z-index: 1;
}

#landing .dark-card * {
  color: #fff;
}

#landing .dark-card .main {
  font-size: 55px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

#landing .dark-card .sub {
  font-weight: 400;
  font-size: 25px;
  color: #999999;
}

#landing .dark-card .cta-btn {
  position: relative;
  top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffd43a;
  color: #000;
  font-weight: 500;
  font-size: 25px;
  max-width: 70%;
  border-radius: 10px;
}

@media screen and (max-width: 780px) {
  #landing .dark-card {
    background-color: #fff;
  }
  #landing .dark-card * {
    color: #000;
  }
  #landing .dark-card .sub {
    color: #303030;
  }
  #landing .dark-card .cta-btn {
    max-width: 100%;
    padding: 0.75rem;
  }
  #landing .dark-card .green {
    color: #4e9f4b;
  }
}

@media screen and (max-width: 780px) {
  #landing .dark-card .main {
    font-size: 2rem;
  }
  #landing .dark-card .sub {
    font-size: 1rem;
  }
  #landing .dark-card .cta-btn {
    font-size: 1rem;
  }
}

#landing .grade,
#landing .teacher,
#landing .chemistry {
  position: absolute;
}

#landing .teacher {
  top: 55px;
  left: 10%;
  width: 260px;
}

@media screen and (max-width: 992px) {
  #landing .teacher {
    width: 150px;
    left: 0;
    top: 182px;
  }
}

@media screen and (max-width: 780px) {
  #landing .teacher {
    width: 110px;
    top: -30px;
    left: 10%;
  }
}

@media screen and (max-width: 425px) {
  #landing .teacher {
    left: 0;
  }
}

#landing .grade {
  right: 90px;
  top: 110px;
  width: 110px;
}

@media screen and (max-width: 780px) {
  #landing .grade {
    width: 90px;
    top: -50px;
  }
}

@media screen and (max-width: 425px) {
  #landing .grade {
    right: 0;
  }
}

#landing .chemistry {
  width: 100px;
  right: 50px;
  top: 330px;
}

@media screen and (max-width: 992px) {
  #landing .chemistry {
    width: 70px;
  }
}

@media screen and (max-width: 780px) {
  #landing .chemistry {
    width: 50px;
    top: 80px;
    right: 15%;
  }
}

@media screen and (max-width: 425px) {
  #landing .chemistry {
    right: 0;
  }
}

@media screen and (max-width: 780px) {
  #landing .whatsapp {
    display: none !important;
  }
}

#testimonials {
  margin-top: 10rem;
  position: relative;
}

#testimonials .big-circle,
#testimonials .gradient-circle,
#testimonials .yellow-circle,
#testimonials .smilie {
  position: absolute;
}

@media screen and (max-width: 768px) {
  #testimonials .yellow-circle {
    display: none;
  }
}

#testimonials .gradient-circle {
  right: 50px;
}

@media screen and (max-width: 768px) {
  #testimonials .gradient-circle {
    display: none;
  }
}

#testimonials .smilie {
  left: 50%;
  top: -80px;
  z-index: 0;
}

@media screen and (max-width: 1025px) {
  #testimonials .smilie {
    right: 20%;
    left: unset;
    opacity: 0.7;
  }
}

@media screen and (max-width: 768px) {
  #testimonials .smilie {
    right: 0;
    left: unset;
  }
}

#testimonials .big-circle {
  right: 20%;
  top: -260px;
}

@media screen and (max-width: 1025px) {
  #testimonials .big-circle {
    right: 5%;
  }
}

@media screen and (max-width: 768px) {
  #testimonials .big-circle {
    display: none;
  }
}

#testimonials h2.title {
  position: relative;
  max-width: 1020px;
  padding-left: 21rem;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  #testimonials h2.title {
    text-align: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 780px) {
  #testimonials h2.title {
    text-align: left;
  }
}

@media screen and (min-width: 510px) {
  #testimonials h2.title {
    margin-top: -5rem;
  }
}

#how-to {
  margin: 0rem 0 5rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#how-to .left {
  position: relative;
}

#how-to .left h1 {
  padding-bottom: 3rem;
  position: relative;
  z-index: 1;
}

#how-to .left ol {
  margin: 0 3rem;
  padding: 1rem 0 4rem;
  list-style-type: decimal;
  border-left: 2px solid #000;
}

#how-to .left ol li {
  position: relative;
  margin: 4rem;
  margin-right: 0;
  font-weight: 700;
}

#how-to .left ol li::before {
  content: "";
  position: absolute;
  left: -70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  #how-to .left ol li {
    margin: 1.5rem;
    margin-right: 0;
  }
  #how-to .left ol li::before {
    left: -30px;
  }
}

@media screen and (max-width: 780px) {
  #how-to .left ol {
    margin: 0;
  }
}

#how-to .left .yellow-circle {
  position: absolute;
  left: -90px;
  top: 50%;
}

#how-to .right {
  position: relative;
}

#how-to .right .yellow-circle,
#how-to .right .multiple-circles,
#how-to .right .gradient-circle,
#how-to .right .girls {
  position: absolute;
}

#how-to .right .multiple-circles {
  left: -60px;
  top: -50px;
  width: 100%;
}

#how-to .right .gradient-circle {
  right: 0;
}

@media screen and (max-width: 780px) {
  #how-to .right .gradient-circle {
    display: none;
  }
}

#how-to .right .girls {
  left: -230px;
}

@media screen and (max-width: 992px) {
  #how-to .right .girls {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80%;
    bottom: 0;
  }
}

@media screen and (max-width: 760px) {
  #how-to {
    margin-top: -5rem;
  }
}

#features {
  position: relative;
  margin: 8rem 0;
}

#features .cards-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#features .cards-container .home,
#features .cards-container .online,
#features .cards-container .group {
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 781px) {
  #features .cards-container .home,
  #features .cards-container .online,
  #features .cards-container .group {
    background-image: none;
  }
}

#features .cards-container .home {
  background-image: url("../vectors/home-tutoring-bg.svg");
}

#features .cards-container .online {
  background-image: url("../vectors/online-tutoring-bg.svg");
}

#features .cards-container .group {
  background-image: url("../vectors/group-tutoring-bg.svg");
}

#features .gradient-circle,
#features .yellow-circle {
  position: absolute;
}

@media screen and (max-width: 780px) {
  #features .gradient-circle,
  #features .yellow-circle {
    display: none;
  }
}

#features .yellow-circle {
  right: 35%;
}

#features .gradient-circle {
  bottom: -50px;
  right: 70%;
}

@media screen and (max-width: 976px) {
  #features .gradient-circle {
    left: 150x;
  }
}

@media screen and (max-width: 780px) {
  #features {
    margin-bottom: 4rem;
  }
}

#subjects {
  margin: 2rem 0 8rem;
  position: relative;
}

#subjects .circles {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

#subjects .lists-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#subjects .lists-container .list {
  position: relative;
  padding: 3rem 4rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px #00000050;
          box-shadow: 0 1px 4px #00000050;
  z-index: 1;
  background-color: #fff;
  text-align: center;
}

#subjects .lists-container .list li {
  margin: 1rem 0;
  color: #020112;
  opacity: 0.7;
  font-weight: 600;
}

#subjects .lists-container .list .btn {
  font-size: 14px;
  border-radius: 10px;
  margin-top: 2rem;
  background-color: #ffd43a;
  padding: 0.5rem 2rem;
  font-weight: 700;
}

@media screen and (max-width: 780px) {
  #subjects .lists-container .list {
    -webkit-box-shadow: 3px 3px 4px #00000050;
            box-shadow: 3px 3px 4px #00000050;
  }
}

@media screen and (max-width: 780px) {
  #subjects {
    margin-bottom: 4rem;
  }
}

#results h1 {
  text-align: center;
  color: #021729;
}

#results p {
  max-width: 880px;
  color: #021729;
  font-weight: 500;
  font-size: 23px;
  opacity: 0.7;
}

#results .cards-container {
  margin-top: 3rem;
  color: #fff;
}

#results .cards-container .card {
  margin: 1rem 2rem;
  padding: 1rem;
  background-color: #000;
  border-radius: 10px;
  text-align: center;
  width: 180px;
}

#results .cards-container .card.blue {
  background-color: #2959d1;
}

#results .cards-container .card.dark-blue {
  background-color: #021729;
}

#results .cards-container .card * {
  color: #fff;
}

#results .cards-container .card h2 {
  margin-bottom: 3rem;
}

@media screen and (max-width: 780px) {
  #results .cards-container .card {
    width: 80%;
  }
  #results .cards-container .card:first-child {
    background-color: #4e9f4b;
  }
  #results .cards-container .card h2 {
    text-align: left;
  }
  #results .cards-container .card p {
    text-align: right;
  }
}

#why-us {
  margin-top: 8rem;
}

#why-us .cards-container {
  text-align: center;
}

#why-us .blue-frame {
  margin-top: 4rem;
  background-color: #090c22;
  max-width: 750px;
  padding: 1rem 2rem;
  border-radius: 10px;
}

#why-us .blue-frame .group {
  max-width: 180px;
}

#why-us .blue-frame .group h3 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  #why-us .blue-frame .group {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
  }
  #why-us .blue-frame .group:last-child {
    border: 0;
  }
}

#why-us .blue-frame * {
  color: #fff;
}

@media screen and (max-width: 767px) {
  #why-us .blue-frame {
    margin-top: 4rem;
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 780px) {
  #why-us {
    margin-top: 2rem;
  }
}

#who-we-are {
  margin-top: 5rem;
}

#who-we-are h3 {
  color: rgba(2, 23, 41, 0.5);
}

#who-we-are #slick {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#who-we-are #slick .slick-slide {
  position: relative;
}

#who-we-are #slick .slick-slide .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
}

#who-we-are #slick .slick-slide .item .text {
  opacity: 0;
  padding: 1rem 1rem 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#who-we-are #slick .slick-slide .item .text * {
  color: #fff;
}

@media screen and (max-width: 768px) {
  #who-we-are #slick .slick-slide .item .text {
    display: none;
  }
}

#who-we-are #slick .slick-slide .item img {
  width: 100%;
}

#who-we-are #slick .slick-slide.slick-center .item {
  padding: 0.5rem;
}

#who-we-are #slick .slick-slide.slick-center .item .text {
  opacity: 1;
}

#who-we-are #slick .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #e5e5e5;
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#who-we-are #slick .slick-arrow * {
  cursor: pointer;
}

#who-we-are #slick .slick-arrow.slick-next {
  right: -5rem;
}

#who-we-are #slick .slick-arrow.slick-prev {
  left: -5rem;
}

#who-we-are #slick .slick-arrow:hover {
  background-color: #b1b1b1;
}

#our-values {
  margin-top: 6rem;
}

#our-values .cards-container .card h3 {
  max-width: 300px;
}

#our-values .cards-container .card p {
  max-width: 250px;
}

#our-values .get-tutor {
  position: relative;
  -webkit-box-shadow: 2px 2px 18px #00000025;
          box-shadow: 2px 2px 18px #00000025;
  padding: 4rem;
  max-width: 680px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

#our-values .get-tutor .btn {
  background-color: #ffd43a;
  display: block;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px #00000025;
          box-shadow: 0px 4px 4px #00000025;
}

#our-values .get-tutor h1 {
  max-width: 520px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

#our-values .get-tutor .graduated {
  position: absolute;
  right: 30px;
  bottom: -40px;
}

@media screen and (max-width: 768px) {
  #our-values .get-tutor .graduated {
    display: none;
  }
}

#our-values .get-tutor .whatsapp {
  position: absolute;
  right: 213px;
  bottom: 60px;
}

@media screen and (max-width: 768px) {
  #our-values .get-tutor .whatsapp {
    right: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -35px;
  }
}

#our-values .get-tutor .right-arrow {
  position: absolute;
}

@media screen and (max-width: 480px) {
  #our-values .get-tutor .right-arrow {
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  #our-values .get-tutor {
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (max-width: 780px) {
  #our-values .get-tutor {
    padding: 0rem;
  }
}

@media screen and (max-width: 768px) {
  #our-values h1.underline {
    color: #fff;
    background-color: #3d4159;
    border-radius: 5px;
  }
}

#contact {
  margin-top: 8rem;
  max-width: 1000px;
  margin: 8rem auto 2rem;
}

#contact .row > * {
  padding: 3rem;
}

@media screen and (max-width: 780px) {
  #contact .row > * {
    padding-left: 0;
    padding-right: 0;
  }
}

#contact .talk-to-us {
  position: relative;
}

#contact .talk-to-us h1 {
  color: #000;
}

#contact .talk-to-us .text-us {
  position: absolute;
  right: 0;
  right: 30px;
  top: -5px;
}

@media screen and (max-width: 780px) {
  #contact .talk-to-us .text-us {
    display: none;
  }
}

#contact .talk-to-us .form-control {
  margin: 1rem 0;
}

#contact .talk-to-us .form-control input,
#contact .talk-to-us .form-control textarea {
  padding: 0.5rem;
  display: block;
  width: 325px;
  border: 1px solid #000;
  border-radius: 2px;
}

@media screen and (max-width: 992px) {
  #contact .talk-to-us .form-control input,
  #contact .talk-to-us .form-control textarea {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 780px) {
  #contact .talk-to-us .form-control input,
  #contact .talk-to-us .form-control textarea {
    width: 100%;
  }
}

#contact .talk-to-us .btn {
  position: relative;
  background-color: #64b161;
  color: #fff;
  padding: 1rem;
  border: 0;
  font-size: 20px;
  text-align: center;
  width: 325px;
}

#contact .talk-to-us .btn img {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 992px) {
  #contact .talk-to-us .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 780px) {
  #contact .talk-to-us .btn {
    margin-left: initial;
    margin-right: initial;
    width: 100%;
  }
  #contact .talk-to-us .btn img {
    display: none;
  }
}

#contact .join-community {
  padding: 2rem;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #183651), to(#7a899d));
  background-image: linear-gradient(to bottom right, #183651 50%, #7a899d 100%);
  border-radius: 5px;
}

#contact .join-community * {
  color: #fff;
}

#contact .join-community h1 {
  font-size: 40px;
  margin-bottom: 2rem;
}

#contact .join-community p {
  margin-bottom: 1rem;
  line-height: 2;
}

#contact .join-community .cite {
  color: #cacaca;
  margin-bottom: 1rem;
}

@media screen and (max-width: 780px) {
  #contact .join-community {
    margin-left: -50px;
    margin-right: -50px;
    border-radius: 0;
  }
}

@media screen and (max-width: 780px) {
  #contact {
    margin-top: 0rem;
  }
  #contact * {
    text-align: left !important;
  }
}

#footer {
  background-color: rgba(2, 23, 41, 0.8);
  padding: 3rem 5rem 1rem;
}

#footer * {
  color: #fff;
}

#footer .logo {
  width: 7rem;
}

#footer h2,
#footer .logo {
  margin-bottom: 1rem;
}

#footer li {
  margin: 1rem 0;
  font-weight: 300;
}

#footer .social {
  max-width: 150px;
}

#footer .legal > * {
  margin: 0 1rem;
}

@media screen and (min-width: 781px) {
  #footer .legal {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 780px) {
  #footer {
    padding-top: 0;
    background-color: transparent;
  }
  #footer * {
    color: #000;
  }
  #footer .logo.light,
  #footer .mail,
  #footer .whatsapp {
    display: none;
  }
}

@media screen and (min-width: 780px) {
  #footer .logo.dark {
    display: none;
  }
}

.underline {
  text-align: center;
  border-bottom: 1px solid #18365110;
}

.cards-container .card {
  margin: 1rem 4rem;
}

.cards-container .card img {
  margin-bottom: 1rem;
}

.cards-container .card h3 {
  max-width: 150px;
  margin-bottom: 0.75rem;
}

.cards-container .card p {
  max-width: 170px;
}

@media screen and (max-width: 992px) {
  .cards-container .card {
    margin: 1rem;
  }
}

.blue {
  color: #1459b8;
}

.pink {
  color: #da4a54;
}

.m-0 {
  margin: 0 !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important;
  }
  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important;
  }
  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important;
  }
  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important;
  }
  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important;
  }
  .m-sm-1 {
    margin: 0.25rem !important;
  }
  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important;
  }
  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 0.25rem !important;
  }
  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 0.25rem !important;
  }
  .m-sm-2 {
    margin: 0.5rem !important;
  }
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important;
  }
  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 0.5rem !important;
  }
  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 0.5rem !important;
  }
  .m-sm-3 {
    margin: 1rem !important;
  }
  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important;
  }
  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 1rem !important;
  }
  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important;
  }
  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 1rem !important;
  }
  .m-sm-4 {
    margin: 1.5rem !important;
  }
  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important;
  }
  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 1.5rem !important;
  }
  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 1.5rem !important;
  }
  .m-sm-5 {
    margin: 3rem !important;
  }
  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important;
  }
  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 3rem !important;
  }
  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important;
  }
  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 3rem !important;
  }
  .p-sm-0 {
    padding: 0 !important;
  }
  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important;
  }
  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important;
  }
  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important;
  }
  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important;
  }
  .p-sm-1 {
    padding: 0.25rem !important;
  }
  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important;
  }
  .pr-sm-1,
  .px-sm-1 {
    padding-right: 0.25rem !important;
  }
  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-sm-1,
  .px-sm-1 {
    padding-left: 0.25rem !important;
  }
  .p-sm-2 {
    padding: 0.5rem !important;
  }
  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important;
  }
  .pr-sm-2,
  .px-sm-2 {
    padding-right: 0.5rem !important;
  }
  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-sm-2,
  .px-sm-2 {
    padding-left: 0.5rem !important;
  }
  .p-sm-3 {
    padding: 1rem !important;
  }
  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important;
  }
  .pr-sm-3,
  .px-sm-3 {
    padding-right: 1rem !important;
  }
  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important;
  }
  .pl-sm-3,
  .px-sm-3 {
    padding-left: 1rem !important;
  }
  .p-sm-4 {
    padding: 1.5rem !important;
  }
  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important;
  }
  .pr-sm-4,
  .px-sm-4 {
    padding-right: 1.5rem !important;
  }
  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-sm-4,
  .px-sm-4 {
    padding-left: 1.5rem !important;
  }
  .p-sm-5 {
    padding: 3rem !important;
  }
  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important;
  }
  .pr-sm-5,
  .px-sm-5 {
    padding-right: 3rem !important;
  }
  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important;
  }
  .pl-sm-5,
  .px-sm-5 {
    padding-left: 3rem !important;
  }
  .m-sm-auto {
    margin: auto !important;
  }
  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important;
  }
  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important;
  }
  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important;
  }
  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important;
  }
  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important;
  }
  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important;
  }
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }
  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important;
  }
  .m-md-1 {
    margin: 0.25rem !important;
  }
  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important;
  }
  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important;
  }
  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important;
  }
  .m-md-2 {
    margin: 0.5rem !important;
  }
  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important;
  }
  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important;
  }
  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important;
  }
  .m-md-3 {
    margin: 1rem !important;
  }
  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important;
  }
  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important;
  }
  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important;
  }
  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important;
  }
  .m-md-4 {
    margin: 1.5rem !important;
  }
  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important;
  }
  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important;
  }
  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important;
  }
  .m-md-5 {
    margin: 3rem !important;
  }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important;
  }
  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important;
  }
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important;
  }
  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important;
  }
  .p-md-0 {
    padding: 0 !important;
  }
  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important;
  }
  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important;
  }
  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important;
  }
  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important;
  }
  .p-md-1 {
    padding: 0.25rem !important;
  }
  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important;
  }
  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important;
  }
  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important;
  }
  .p-md-2 {
    padding: 0.5rem !important;
  }
  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important;
  }
  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important;
  }
  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important;
  }
  .p-md-3 {
    padding: 1rem !important;
  }
  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important;
  }
  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important;
  }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important;
  }
  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important;
  }
  .p-md-4 {
    padding: 1.5rem !important;
  }
  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important;
  }
  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important;
  }
  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important;
  }
  .p-md-5 {
    padding: 3rem !important;
  }
  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important;
  }
  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important;
  }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important;
  }
  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important;
  }
  .m-md-auto {
    margin: auto !important;
  }
  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important;
  }
  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important;
  }
  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important;
  }
  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important;
  }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }
  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important;
  }
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important;
  }
  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important;
  }
  .m-lg-1 {
    margin: 0.25rem !important;
  }
  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important;
  }
  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 0.25rem !important;
  }
  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 0.25rem !important;
  }
  .m-lg-2 {
    margin: 0.5rem !important;
  }
  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important;
  }
  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 0.5rem !important;
  }
  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 0.5rem !important;
  }
  .m-lg-3 {
    margin: 1rem !important;
  }
  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important;
  }
  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 1rem !important;
  }
  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important;
  }
  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 1rem !important;
  }
  .m-lg-4 {
    margin: 1.5rem !important;
  }
  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important;
  }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important;
  }
  .m-lg-5 {
    margin: 3rem !important;
  }
  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important;
  }
  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 3rem !important;
  }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important;
  }
  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 3rem !important;
  }
  .p-lg-0 {
    padding: 0 !important;
  }
  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important;
  }
  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important;
  }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important;
  }
  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important;
  }
  .p-lg-1 {
    padding: 0.25rem !important;
  }
  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important;
  }
  .pr-lg-1,
  .px-lg-1 {
    padding-right: 0.25rem !important;
  }
  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-lg-1,
  .px-lg-1 {
    padding-left: 0.25rem !important;
  }
  .p-lg-2 {
    padding: 0.5rem !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .pr-lg-2,
  .px-lg-2 {
    padding-right: 0.5rem !important;
  }
  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-lg-2,
  .px-lg-2 {
    padding-left: 0.5rem !important;
  }
  .p-lg-3 {
    padding: 1rem !important;
  }
  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important;
  }
  .pr-lg-3,
  .px-lg-3 {
    padding-right: 1rem !important;
  }
  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important;
  }
  .pl-lg-3,
  .px-lg-3 {
    padding-left: 1rem !important;
  }
  .p-lg-4 {
    padding: 1.5rem !important;
  }
  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important;
  }
  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important;
  }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important;
  }
  .p-lg-5 {
    padding: 3rem !important;
  }
  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important;
  }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important;
  }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important;
  }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }
  .m-lg-auto {
    margin: auto !important;
  }
  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important;
  }
  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important;
  }
  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important;
  }
  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important;
  }
  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important;
  }
  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important;
  }
  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important;
  }
  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important;
  }
  .m-xl-1 {
    margin: 0.25rem !important;
  }
  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important;
  }
  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 0.25rem !important;
  }
  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 0.25rem !important;
  }
  .m-xl-2 {
    margin: 0.5rem !important;
  }
  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important;
  }
  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 0.5rem !important;
  }
  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 0.5rem !important;
  }
  .m-xl-3 {
    margin: 1rem !important;
  }
  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important;
  }
  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 1rem !important;
  }
  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important;
  }
  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 1rem !important;
  }
  .m-xl-4 {
    margin: 1.5rem !important;
  }
  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important;
  }
  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 1.5rem !important;
  }
  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 1.5rem !important;
  }
  .m-xl-5 {
    margin: 3rem !important;
  }
  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important;
  }
  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 3rem !important;
  }
  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important;
  }
  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 3rem !important;
  }
  .p-xl-0 {
    padding: 0 !important;
  }
  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important;
  }
  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important;
  }
  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important;
  }
  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important;
  }
  .p-xl-1 {
    padding: 0.25rem !important;
  }
  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important;
  }
  .pr-xl-1,
  .px-xl-1 {
    padding-right: 0.25rem !important;
  }
  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-xl-1,
  .px-xl-1 {
    padding-left: 0.25rem !important;
  }
  .p-xl-2 {
    padding: 0.5rem !important;
  }
  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important;
  }
  .pr-xl-2,
  .px-xl-2 {
    padding-right: 0.5rem !important;
  }
  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-xl-2,
  .px-xl-2 {
    padding-left: 0.5rem !important;
  }
  .p-xl-3 {
    padding: 1rem !important;
  }
  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important;
  }
  .pr-xl-3,
  .px-xl-3 {
    padding-right: 1rem !important;
  }
  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important;
  }
  .pl-xl-3,
  .px-xl-3 {
    padding-left: 1rem !important;
  }
  .p-xl-4 {
    padding: 1.5rem !important;
  }
  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important;
  }
  .pr-xl-4,
  .px-xl-4 {
    padding-right: 1.5rem !important;
  }
  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-xl-4,
  .px-xl-4 {
    padding-left: 1.5rem !important;
  }
  .p-xl-5 {
    padding: 3rem !important;
  }
  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important;
  }
  .pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important;
  }
  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important;
  }
  .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important;
  }
  .m-xl-auto {
    margin: auto !important;
  }
  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important;
  }
  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important;
  }
  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important;
  }
  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important;
  }
}

.text-justify {
  text-align: justify !important;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
/*# sourceMappingURL=styles.css.map */