@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$primary-black: #020112;
$primary-dark-blue: #021729;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: $primary-black;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;

  @media screen and (min-width: 781px) {
    padding-top: 85px;
  }

  .top-right-big-circle {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
    width: 224px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .go-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 4rem;
    cursor: pointer;
    z-index: 4;

    &.bg {
      width: 5rem;
    }

    @media screen and (max-width: 767px) {
      &.bg {
        display: none;
      }
    }

    @media screen and (min-width: 768px) {
      &.sm {
        display: none;
      }
    }
  }
}

a,
button {
  border: 0;
  // transition: 0.4s ease;

  // &:hover {
  //   opacity: 0.9;
  // }
}

button,
a {
  cursor: pointer;
}

.container-fluid.main {
  @media screen and (min-width: 830px) {
    padding: 0 50px;
  }
}

ul {
  list-style-type: none;
}

h1,
h2 {
  color: $primary-dark-blue;
}

h1 {
  font-size: 30px;
}

#dark-overlay {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #00000080;
  display: none;

  &.active {
    display: block;
  }
}

#navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 50px;
  background: #fff;
  z-index: 5;

  .nav-logo-wrapper {
    width: 8.95rem;

    img {
      width: 100%;
    }

    @media screen and (max-width: 680px) {
      width: 5.5rem;
    }
  }

  .nav {
    font-size: 18px;
    font-weight: 700;

    .nav-item * {
      color: rgba(0, 0, 0, 0.25);
    }

    .nav-item.active * {
      color: $primary-black;
    }

    .nav-item {
      margin: 0 0.5rem;

      .btn {
        padding: 0.25rem 3rem;
        border: 1px solid #021729;
        border-radius: 25px;
        color: $primary-black;
      }
    }
  }

  @media screen and (max-width: 780px) {
    display: none !important;
  }
}

#navbar-sm {
  position: sticky;
  top: 0;
  margin: 2rem -12px 0;
  padding: 0.5rem 1.5rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  z-index: 2;

  .nav-logo-wrapper {
    width: 5rem;

    img {
      width: 100%;
    }
  }

  .light {
    color: rgba(0, 0, 0, 0.6);
  }

  @media screen and (min-width: 781px) {
    display: none !important;
  }
}

.nav-sm {
  position: fixed;
  left: -100%;
  top: 0;
  height: 100%;
  width: 90vw;
  background-color: #fff;
  z-index: 4;
  transition: 0.5s ease;

  .close {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 2.5rem;
  }

  &.active {
    left: 0;
  }

  .nav {
    padding: 1.5rem;

    .nav-item {
      padding: 0.5rem;
      margin: 1rem;
      border-bottom: 1px solid #ccc;
    }
  }
}

#landing {
  position: relative;

  .dark-card {
    padding: 1rem;
    position: relative;
    border-radius: 10px;
    background-color: #000;
    max-width: 812px;
    text-align: center;
    padding-bottom: 0;
    z-index: 1;

    * {
      color: #fff;
    }

    .main {
      font-size: 55px;
      font-weight: 700;
      font-family: "Ubuntu", sans-serif;
    }

    .sub {
      font-weight: 400;
      font-size: 22px;
      color: #999999;
      margin-bottom: -14px;
    }

    .cta-btn {
      position: relative;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffd43a;
      color: #000;
      font-weight: 500;
      font-size: 25px;
      max-width: 70%;
      border-radius: 10px;
    }

    @media screen and (max-width: 780px) {
      background-color: transparent;

      & * {
        color: #000;
      }

      .sub {
        color: #303030;
      }

      .cta-btn {
        position: relative;
        margin-top: 2rem;
        max-width: 100%;
        padding: 0.75rem;

        &::after {
          content: "";
          width: 100%;
          left: 0;
          bottom: -4rem;
          position: absolute;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }
    @media screen and (max-width: 780px) {
      margin-top: 0.5rem;

      .main {
        font-size: 3rem;
        line-height: 0.9;
        margin-bottom: 0.5rem;
      }

      .sub {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.3;
      }

      .cta-btn {
        font-size: 1rem;
      }
    }

    @media screen and (max-width: 780px) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
  }

  .grade,
  .teacher,
  .teacher-sm,
  .chemistry,
  .chemistry-sm {
    position: absolute;
  }

  .teacher {
    top: 55px;
    left: 8%;
    width: 260px;

    @media screen and (max-width: 1320px) {
      left: 4%;
    }

    @media screen and (max-width: 1230px) {
      left: 2%;
    }

    @media screen and (max-width: 1171px) {
      left: 0;
    }

    @media screen and (max-width: 1150px) {
      width: 200px;
      top: 130px;
    }

    @media screen and (max-width: 1110px) {
      width: 170px;
      top: 150px;
    }

    @media screen and (max-width: 992px) {
      top: 182px;
    }

    @media screen and (max-width: 780px) {
      display: none;
    }
  }

  .teacher-sm {
    @media screen and (min-width: 779px) {
      display: none;
    }
  }

  .grade {
    right: 90px;
    top: 90px;
    width: 110px;

    @media screen and (max-width: 1270px) {
      right: 5%;
    }

    @media screen and (max-width: 1200px) {
      right: 0;
    }

    @media screen and (max-width: 780px) {
      width: 110px;
      top: 7px;
    }

    @media screen and (max-width: 425px) {
      right: 0;
    }
  }

  .chemistry {
    width: 100px;
    right: 50px;
    top: 290px;

    @media screen and (max-width: 1270px) {
      right: 5%;
    }

    @media screen and (max-width: 1200px) {
      right: 0;
    }

    @media screen and (max-width: 992px) {
      width: 70px;
    }

    @media screen and (max-width: 780px) {
      display: none;
    }
  }

  .chemistry-sm {
    right: 20px;
    top: 118px;

    @media screen and (min-width: 779px) {
      display: none;
    }
  }

  @media screen and (max-width: 780px) {
    .whatsapp {
      display: none !important;
    }
  }
}

#testimonials {
  margin-top: 13rem;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .big-circle,
  .gradient-circle,
  .yellow-circle,
  .smilie {
    position: absolute;
  }

  .yellow-circle {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .gradient-circle {
    right: 50px;
    top: -12%;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .smilie {
    left: 50%;
    top: -80px;
    z-index: 0;

    @media screen and (max-width: 992px) {
      right: 20%;
      left: unset;
      opacity: 0.7;
    }

    @media screen and (max-width: 767px) {
      right: 0;
      left: unset;
    }
  }

  .big-circle {
    right: 20%;
    top: -303px;

    @media screen and (max-width: 1025px) {
      right: 5%;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  h2.title {
    position: relative;
    max-width: 1020px;
    padding-left: 23%;
    z-index: 1;

    @media screen and (max-width: 1320px) {
      padding-left: 20%;
    }

    @media screen and (max-width: 1230px) {
      padding-left: 18%;
    }

    @media screen and (max-width: 1200px) {
      padding-left: 16%;
    }

    @media screen and (max-width: 1100px) {
      padding-left: 14%;
    }

    @media screen and (max-width: 1024px) {
      padding-left: 12%;
    }

    @media screen and (max-width: 992px) {
      text-align: center;
      padding-left: 2rem;
    }

    @media screen and (max-width: 780px) {
      text-align: left;
    }

    @media screen and (min-width: 510px) {
      margin-top: -5rem;
    }
  }

  @media screen and (max-width: 576px) {
    margin-top: 12rem;
  }
}

#how-to {
  margin: 4rem 0 5rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  .underline {
    text-align: left;
  }

  .list-wrap {
    position: relative;

    h1 {
      padding-bottom: 0.5rem;
      position: relative;
      z-index: 1;
    }

    ol {
      margin: 0.5rem 3rem 0;
      padding: 1rem 0 1rem;
      list-style-type: decimal;
      border-left: 2px solid #000;

      li {
        position: relative;
        margin: 4rem;
        margin-left: 2.5rem;
        margin-right: 0;
        font-weight: 700;
        max-width: 130px;

        &:first-child {
          margin-top: 0;
        }

        &::before {
          content: "";
          position: absolute;
          left: -48px;
          top: 24%;
          transform: translateY(-50%);
          background-color: #000;
          width: 14px;
          height: 14px;
          border-radius: 50%;
        }

        @media screen and (max-width: 767px) {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      @media screen and (max-width: 767px) {
        padding-bottom: 0;
      }
    }
    // }

    // .right {

    .yellow-circle,
    .multiple-circles,
    .gradient-circle,
    .girls {
      position: absolute;
    }

    .yellow-circle {
      left: -90px;
      top: 35%;
    }

    .multiple-circles {
      width: 40%;
      top: -40px;
      right: 66px;

      @media screen and (max-width: 530px) {
        top: 25px;
        right: 36px;
      }
    }

    .gradient-circle {
      left: 60%;
      top: 0;

      @media screen and (max-width: 905px) {
        left: 50%;
      }

      @media screen and (max-width: 780px) {
        display: none;
      }
    }

    .girls {
      left: 30%;
      top: -50px;

      @media screen and (max-width: 700px) {
        width: 45%;
        top: 15px;
      }

      @media screen and (max-width: 590px) {
        left: 35%;
      }

      @media screen and (max-width: 540px) {
        top: 120px;
        left: 42%;
      }

      @media screen and (max-width: 490px) {
        left: 47%;
        top: 150px;
      }

      @media screen and (max-width: 450px) {
        left: 50%;
        top: 140px;
      }

      @media screen and (max-width: 370px) {
        width: 35%;
        left: 60%;
        top: 190px;
      }
    }
  }
}

#features {
  position: relative;
  margin: 10rem 0 8rem;
  margin-top: 14rem;

  .cards-container {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      opacity: 0.8;
    }

    .home,
    .online,
    .group {
      background-repeat: no-repeat;
      background-size: contain;

      @media screen and (min-width: 781px) {
        background-image: none;
      }
    }

    @media screen and (max-width: 780px) {
      .home {
        background-image: url("../vectors/home-tutoring-bg.svg");
      }

      .online {
        background-image: url("../vectors/online-tutoring-bg.svg");
      }

      .group {
        background-image: url("../vectors/group-tutoring-bg.svg");
      }
    }
  }

  .gradient-circle,
  .yellow-circle {
    position: absolute;

    @media screen and (max-width: 780px) {
      display: none;
    }
  }

  .yellow-circle {
    right: 35%;
  }

  .gradient-circle {
    bottom: -50px;
    right: 70%;

    @media screen and (max-width: 976px) {
      left: 150x;
    }
  }

  @media screen and (max-width: 780px) {
    margin-bottom: 8rem;
  }

  @media screen and (max-width: 660px) {
    margin-top: 10rem;
  }

  @media screen and (max-width: 540px) {
    margin-top: 13rem;
  }
}

#subjects {
  margin: 2rem 0 8rem;
  position: relative;

  .circles {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  .lists-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .list {
      position: relative;
      padding: 3rem 4rem;
      border-radius: 5px;
      box-shadow: 0 1px 4px #00000050;
      z-index: 1;
      background-color: #fff;
      text-align: center;

      li {
        margin: 1rem 0;
        color: #020112;
        opacity: 0.7;
        font-weight: 600;
      }

      .btn {
        font-size: 14px;
        border-radius: 10px;
        margin-top: 2rem;
        background-color: #ffd43a;
        padding: 0.5rem 2rem;
        font-weight: 700;
      }

      @media screen and (max-width: 780px) {
        box-shadow: 3px 3px 4px #00000050;
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin-top: 6rem;
  }
}

#results {
  h1 {
    text-align: center;
    color: $primary-dark-blue;
  }

  p {
    max-width: 682px;
    color: #021729;
    font-weight: 500;
    opacity: 0.7;
    font-size: 18px;
  }

  .para {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .cards-container {
    margin-top: 3rem;
    color: #fff;

    .card {
      margin: 1rem 2rem;
      padding: 1rem;
      background-color: #000;
      border-radius: 10px;
      text-align: center;
      width: 180px;

      &.blue {
        background-color: #2959d1;
      }

      &.dark-blue {
        background-color: $primary-dark-blue;
      }

      * {
        color: #fff;
      }

      h2 {
        margin-bottom: 3rem;
      }

      @media screen and (max-width: 780px) {
        width: 80%;

        &:first-child {
          background-color: #4e9f4b;
        }

        h2 {
          text-align: left;
        }

        p {
          text-align: right;
        }
      }

      @media screen and (max-width: 767px) {
        border-radius: 5px;
      }
    }
  }
}

#why-us {
  margin-top: 8rem;

  .cards-container {
    text-align: center;
  }

  .blue-frame {
    margin-top: 4rem;
    background-color: #090c22;
    max-width: 750px;
    padding: 1rem 2rem;
    border-radius: 10px;

    .group {
      max-width: 180px;

      h3 {
        margin-bottom: 0.5rem;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid #ccc;

        &:last-child {
          border: 0;
        }

        .pink {
          color: #fff !important;
        }
      }

      @media screen and (max-width: 767px) {
        max-width: 100%;

        p {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }

    * {
      color: #fff;
    }

    @media screen and (max-width: 767px) {
      margin-top: 4rem;
      padding: 2rem;
    }
  }
}

#who-we-are {
  margin-top: 5rem;

  h3 {
    color: rgba(2, 23, 41, 0.5);
    max-width: 941px;
  }

  #slick {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .slick-slide {
      position: relative;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;

        .text {
          opacity: 0;
          padding: 1rem 1rem 3rem;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          transition: 0.5s ease;

          & * {
            color: #fff;
          }

          @media screen and (max-width: 970px) {
            h2 {
              font-size: 18px;
            }

            h4 {
              font-size: 14px;
            }
          }

          @media screen and (max-width: 860px) {
            h2 {
              font-size: 16px;
            }

            h4 {
              font-size: 14px;
            }
          }

          @media screen and (max-width: 730px) {
            h2 {
              font-size: 14px;
            }

            h4 {
              font-size: 12px;
            }
          }

          @media screen and (max-width: 685px) {
            h2 {
              font-size: 20px;
            }

            h4 {
              font-size: 14px;
            }
          }

          @media screen and (max-width: 640px) {
            h2 {
              font-size: 18px;
            }

            h4 {
              font-size: 14px;
            }
          }

          // @media screen and (max-width: 620px) {
          //   h2 {
          //     font-size: 20px;
          //   }

          //   h4 {
          //     font-size: 14px;
          //   }
          // }

          @media screen and (max-width: 550px) {
            h2 {
              font-size: 14px;
            }

            h4 {
              font-size: 12px;
            }
          }

          @media screen and (max-width: 500px) {
            h2 {
              font-size: 18px;
            }

            h4 {
              font-size: 12px;
            }
          }

          @media screen and (max-width: 450px) {
            h2 {
              font-size: 14px;
            }

            h4 {
              font-size: 12px;
            }
          }

          @media screen and (max-width: 425px) {
            h2 {
              font-size: 18px;
            }

            h4 {
              font-size: 14px;
            }
          }

          @media screen and (max-width: 360px) {
            h2 {
              font-size: 14px;
            }

            h4 {
              font-size: 12px;
            }
          }
        }

        img {
          width: 100%;
        }
      }

      &.slick-center {
        .item {
          padding: 0.5rem;

          .text {
            opacity: 1;
          }
        }
      }
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #e5e5e5;
      border: 0;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: 0.4s ease;

      * {
        cursor: pointer;
      }

      &.slick-next {
        right: -5rem;
      }

      &.slick-prev {
        left: -5rem;
      }

      &:hover {
        background-color: #b1b1b1;
      }
    }

    // .slick-slide > div > .item {
    //   padding: 1.5rem;
    // }

    // .slick-slide.slick-active.slick-center > div > .item {
    //   padding: 0.5rem;
    // }
  }

  .join-btn {
    background-color: #da4a54;
    padding: 0.75rem 0;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    font-size: 18px;
    padding: 0.75rem 1.5rem;
    display: block;
    cursor: pointer;
  }
}

#our-values {
  margin-top: 6rem;

  .cards-container {
    .card {
      max-width: 280px;

      h3 {
        max-width: 300px;
      }

      p {
        max-width: 250px;
      }
    }
  }

  .get-tutor {
    position: relative;
    box-shadow: 2px 2px 18px #00000025;
    padding: 4rem;
    max-width: 680px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;

    .btn {
      background-color: #ffd43a;
      display: block;
      width: 140px;
      margin-left: auto;
      margin-right: auto;
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0px 4px 4px #00000025;
    }

    h1 {
      max-width: 520px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
    }

    .graduated {
      position: absolute;
      right: 30px;
      bottom: -40px;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    .whatsapp {
      position: absolute;
      right: 213px;
      bottom: 60px;

      @media screen and (max-width: 767px) {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        bottom: -35px;
      }
    }

    .right-arrow {
      position: absolute;

      @media screen and (max-width: 480px) {
        left: 0;
      }
    }

    @media screen and (max-width: 767px) {
      border: 0;
      box-shadow: none;
    }

    @media screen and (max-width: 767px) {
      padding: 0rem;
    }
  }

  @media screen and (max-width: 767px) {
    h1.underline {
      border: 0;
    }
  }
}

#contact {
  max-width: 1000px;
  margin: 10rem auto 2rem;

  .row {
    & > * {
      padding: 3rem;

      @media screen and (max-width: 992px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
      @media screen and (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .talk-to-us {
    position: relative;

    h1 {
      color: #000;
    }

    .text-us {
      position: absolute;
      width: 120px;
      right: 30px;
      top: 0px;

      @media screen and (max-width: 780px) {
        display: none;
      }
    }

    .form-control {
      margin: 1rem 0;

      input,
      textarea {
        padding: 0.5rem;
        display: block;
        width: 325px;
        border: 2px solid #000;
        border-radius: 5px;

        @media screen and (max-width: 992px) {
        }

        @media screen and (max-width: 780px) {
          width: 100%;
        }
      }
    }

    .btn {
      position: relative;
      background-color: #64b161;
      color: #fff;
      padding: 1rem;
      border: 0;
      font-size: 20px;
      text-align: center;
      width: 325px;
      border-radius: 7px;

      img {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }

      @media screen and (max-width: 992px) {
      }

      @media screen and (max-width: 780px) {
        margin-left: initial;
        margin-right: initial;
        width: 100%;

        img {
          display: none;
        }
      }
    }

    @media screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }

  .join-community {
    padding: 2rem;
    background-image: linear-gradient(
      to bottom right,
      #183651 50%,
      #7a899d 100%
    );
    border-radius: 5px;

    * {
      color: #fff;
    }

    h1 {
      font-size: 40px;
      // margin-bottom: 1rem;
    }

    p {
      margin-bottom: 0.5rem;
      line-height: 2;
      font-size: 16px;
    }

    .cite {
      color: #cacaca;
      margin-bottom: 1rem;
    }

    @media screen and (max-width: 767px) {
      margin-left: -12px;
      margin-right: -12px;
      border-radius: 0;
    }
  }

  @media screen and (max-width: 780px) {
    margin-top: 0rem;

    * {
      text-align: left !important;
    }
  }

  .col-md-6 {
    @media screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
}

#footer {
  background-color: #000;
  padding: 3rem 5rem 1rem;
  margin-top: 8rem;

  * {
    color: #fff;
  }

  .logo {
    width: 10rem;

    &.dark {
      width: 7rem;
      margin-bottom: 0;
    }
  }

  h2,
  .logo {
    margin-bottom: 1rem;
  }

  li {
    margin: 1rem 0;
    font-weight: 300;

    @media screen and (max-width: 767px) {
      font-weight: 500;
    }
  }

  .social {
    max-width: 150px;
    margin-left: auto;
  }

  .legal {
    & > * {
      margin: 0 1rem;

      @media screen and (max-width: 767px) {
        margin: 0;
      }
    }

    @media screen and (min-width: 781px) {
      margin-top: 5rem;
    }
  }

  @media screen and (max-width: 767px) {
    padding-top: 0;
    background-color: transparent;

    * {
      color: #000;
    }

    .light,
    .mail,
    .whatsapp {
      display: none;
    }

    .social {
      margin-left: unset;
      margin-right: auto;

      justify-content: flex-start !important;

      img {
        margin-right: 1rem;
      }
    }

    .copyright {
      opacity: 0;
      margin-top: 1.5rem;
    }
  }

  @media screen and (max-width: 965px) {
    padding-left: 2rem;
    padding-right: 2rem;

    a {
      font-size: 0.875rem;
    }
  }

  @media screen and (max-width: 845px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media screen and (min-width: 767px) {
    .dark {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  #landing .dark-card .cta-btn {
    width: 100%;
  }
  .container-testim .client-img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 550px) {
  .container-testim .client-img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .container-testim .review {
    font-size: 16px;
    line-height: 23px;
  }
}

@media screen and (max-width: 425px) {
  #landing .dark-card .main {
    font-size: 2.2rem;
  }
  .container-testim .client-img {
    width: 120px;
    height: 120px;
  }
  .container-testim .card {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 423px) {
  .container-testim .rating {
    bottom: 19px;
  }
  .container-testim .indicators {
    bottom: 84px;
  }
}
