@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #020112;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
}

section {
  /* overflow-x: hidden;  */
}

@media screen and (min-width: 781px) {
  body {
    padding-top: 85px;
  }
}

body .top-right-big-circle {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
  width: 224px;
}

@media screen and (max-width: 767px) {
  body .top-right-big-circle {
    display: none;
  }
}

body .go-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 4rem;
  cursor: pointer;
  z-index: 4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

body .go-to-top.bg {
  width: 5rem;
}

@media screen and (max-width: 767px) {
  body .go-to-top.bg {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  body .go-to-top.sm {
    display: none;
  }
}

a,
button {
  border: 0;
}

button,
a {
  cursor: pointer;
}

@media screen and (min-width: 830px) {
  .container-fluid.main {
    padding: 0 50px;
  }
}

ul {
  list-style-type: none;
}

h1,
h2 {
  color: #021729;
}

h1 {
  font-size: 30px;
}

#dark-overlay {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #00000080;
  display: none;
}

#dark-overlay.active {
  display: block;
}

#navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 50px;
  background: #fff;
  z-index: 5;
}

body .top-right-big-circle {
  z-index: 6;
}
#navbar > * {
  z-index: 3;
}

#navbar > * {
  z-index: 3;
}

#navbar .nav-logo-wrapper {
  width: 8.95rem;
}

#navbar .nav-logo-wrapper img {
  width: 100%;
}

@media screen and (max-width: 680px) {
  #navbar .nav-logo-wrapper {
    width: 5.5rem;
  }
}

#navbar .nav {
  font-size: 18px;
  font-weight: 700;
}

#navbar .nav .nav-item * {
  color: rgba(0, 0, 0, 0.25);
}

#navbar .nav .nav-item .phone * {
  color: #020112;
}

#navbar .nav .nav-item.active * {
  color: #020112;
}

#navbar .nav .nav-item .active {
  color: #020112;
}

#navbar .nav .nav-item {
  margin: 0 0.5rem;
}

#navbar .nav .nav-item .btn {
  padding: 0.25rem 3rem;
  border: 1px solid #021729;
  border-radius: 25px;
  color: #020112;
}

@media screen and (max-width: 780px) {
  #navbar {
    display: none !important;
  }
}

#navbar-sm {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 2rem -12px 0;
  padding: 0.5rem 1.5rem;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  z-index: 2;
}

#navbar-sm .nav-logo-wrapper {
  width: 5rem;
}

#navbar-sm .nav-logo-wrapper img {
  width: 100%;
}

#navbar-sm .light {
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 781px) {
  #navbar-sm {
    display: none !important;
  }
}

.nav-sm {
  position: fixed;
  left: -100%;
  top: 0;
  height: 100%;
  width: 90vw;
  background-color: #fff;
  z-index: 4;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-sm .logo {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  width: 5rem;
}

.nav-sm .close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 2.5rem;
}

.nav-sm.active {
  left: 0;
}

.nav-sm .nav {
  padding: 1.5rem;
  padding-top: 3rem;
}

.nav-sm .nav .nav-item {
  padding: 0.5rem;
  margin: 1rem;
  border-bottom: 1px solid #ccc;
}

.nav-sm .nav .nav-item.active,
.nav-sm .nav .nav-item.active *,
.nav-sm .nav .nav-item .active {
  font-weight: bold;
}

#landing {
  position: relative;
}

#landing .dark-card {
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  background-color: #000;
  max-width: 812px;
  text-align: center;
  padding-bottom: 0;
  z-index: 1;
}

#landing .dark-card * {
  color: #fff;
}

#landing .dark-card .main {
  font-size: 55px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

#landing .dark-card .sub {
  font-weight: 400;
  font-size: 22px;
  color: #999999;
  margin-bottom: -14px;
}

#landing .dark-card .cta-btn {
  position: relative;
  top: 1rem;
  left: 26%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ffd43a;
  color: #000;
  font-weight: 500;
  font-size: 25px;
  width: 50%;
  border-radius: 10px;
}

@media screen and (max-width: 780px) {
  #landing .dark-card {
    background-color: transparent;
  }
  #landing .dark-card * {
    color: #000;
  }
  #landing .dark-card .sub {
    color: #303030;
  }
  #landing .dark-card .cta-btn {
    position: relative;
    margin-top: 2rem;
    max-width: 100%;
    padding: 0.75rem;
  }
  #landing .dark-card .cta-btn::after {
    content: "";
    width: 100%;
    left: 0;
    bottom: -4rem;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 780px) {
  #landing .dark-card {
    margin-top: 0.5rem;
  }
  #landing .dark-card .main {
    font-size: 3rem;
    line-height: 0.9;
    margin-bottom: 0.5rem;
  }
  #landing .dark-card .sub {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3;
  }
  #landing .dark-card .cta-btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 780px) {
  #landing .dark-card {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

#landing .grade,
#landing .teacher,
#landing .teacher-sm,
#landing .chemistry,
#landing .chemistry-sm {
  position: absolute;
}

#landing .teacher {
  top: 55px;
  left: 8%;
  width: 260px;
}

@media screen and (max-width: 1320px) {
  #landing .teacher {
    left: 4%;
  }
}

@media screen and (max-width: 1230px) {
  #landing .teacher {
    left: 2%;
  }
}

@media screen and (max-width: 1171px) {
  #landing .teacher {
    left: 0;
  }
}

@media screen and (max-width: 1150px) {
  #landing .teacher {
    width: 200px;
    top: 130px;
  }
}

@media screen and (max-width: 1110px) {
  #landing .teacher {
    width: 170px;
    top: 150px;
  }
}

@media screen and (max-width: 992px) {
  #landing .teacher {
    top: 182px;
  }
}

@media screen and (max-width: 780px) {
  #landing .teacher {
    display: none;
  }
}

@media screen and (min-width: 779px) {
  #landing .teacher-sm {
    display: none;
  }
}

#landing .grade {
  right: 90px;
  top: 90px;
  width: 110px;
}

@media screen and (max-width: 1270px) {
  #landing .grade {
    right: 5%;
  }
}

@media screen and (max-width: 1200px) {
  #landing .grade {
    right: 0;
  }
}

@media screen and (max-width: 780px) {
  #landing .grade {
    width: 110px;
    top: 7px;
  }
}

@media screen and (max-width: 425px) {
  #landing .grade {
    right: 0;
  }
}

#landing .chemistry {
  width: 100px;
  right: 50px;
  top: 290px;
}

@media screen and (max-width: 1270px) {
  #landing .chemistry {
    right: 5%;
  }
}

@media screen and (max-width: 1200px) {
  #landing .chemistry {
    right: 0;
  }
}

@media screen and (max-width: 992px) {
  #landing .chemistry {
    width: 70px;
  }
}

@media screen and (max-width: 780px) {
  #landing .chemistry {
    display: none;
  }
}

#landing .chemistry-sm {
  right: 20px;
  top: 118px;
}

@media screen and (min-width: 779px) {
  #landing .chemistry-sm {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  #landing .whatsapp {
    display: none !important;
  }
}

#testimonials {
  margin-top: 13rem;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#testimonials .big-circle,
#testimonials .gradient-circle,
#testimonials .yellow-circle,
#testimonials .smilie {
  position: absolute;
}

@media screen and (max-width: 767px) {
  #testimonials .yellow-circle {
    display: none;
  }
}

#testimonials .gradient-circle {
  right: 50px;
  top: -12%;
}

@media screen and (max-width: 767px) {
  #testimonials .gradient-circle {
    display: none;
  }
}

#testimonials .smilie {
  left: 50%;
  top: -80px;
  z-index: 0;
}

@media screen and (max-width: 992px) {
  #testimonials .smilie {
    right: 20%;
    left: unset;
    opacity: 0.7;
  }
}

@media screen and (max-width: 767px) {
  #testimonials .smilie {
    right: 0;
    left: unset;
  }
}

#testimonials .big-circle {
  right: 20%;
  top: -303px;
}

@media screen and (max-width: 1025px) {
  #testimonials .big-circle {
    right: 5%;
  }
}

@media screen and (max-width: 767px) {
  #testimonials .big-circle {
    display: none;
  }
}

#testimonials h2.title {
  position: relative;
  max-width: 1020px;
  padding-left: 2rem;
  z-index: 1;
}

#testimonials h2.title span {
  color: #021729;
}

@media screen and (max-width: 576px) {
  #testimonials {
    margin-top: 12rem;
  }
}

#how-to {
  margin: 4rem 0 5rem;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

#how-to .underline {
  text-align: left;
}

#how-to .list-wrap {
  position: relative;
}

#how-to .list-wrap h1 {
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 1;
  margin-left: 2.5rem;
}

#how-to .list-wrap ol {
  margin: 0.5rem 3rem 0;
  padding: 1rem 0 1rem;
  list-style-type: decimal;
  border-left: 2px solid #000;
}

#how-to .list-wrap ol li {
  position: relative;
  margin: 4rem;
  margin-left: 2.5rem;
  margin-right: 0;
  font-weight: 700;
  max-width: 130px;
}

#how-to .list-wrap ol li:first-child {
  margin-top: 0;
}

#how-to .list-wrap ol li::before {
  content: "";
  position: absolute;
  left: -48px;
  top: 24%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #000;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  #how-to .list-wrap ol li {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  #how-to .list-wrap ol {
    padding-bottom: 0;
  }
}

#how-to .list-wrap .yellow-circle,
#how-to .list-wrap .multiple-circles,
#how-to .list-wrap .gradient-circle,
#how-to .list-wrap .girls {
  position: absolute;
}

#how-to .list-wrap .yellow-circle {
  left: -90px;
  top: 35%;
}

#how-to .list-wrap .multiple-circles {
  width: 40%;
  top: -40px;
  right: 66px;
}

@media screen and (max-width: 530px) {
  #how-to .list-wrap .multiple-circles {
    top: 25px;
    right: 36px;
  }
}

#how-to .list-wrap .gradient-circle {
  left: 60%;
  top: 0;
}

@media screen and (max-width: 905px) {
  #how-to .list-wrap .gradient-circle {
    left: 50%;
  }
}

@media screen and (max-width: 780px) {
  #how-to .list-wrap .gradient-circle {
    display: none;
  }
}

#how-to .list-wrap .girls {
  left: 30%;
  top: -50px;
}

@media screen and (max-width: 700px) {
  #how-to .list-wrap .girls {
    width: 45%;
    top: 15px;
  }
}

@media screen and (max-width: 590px) {
  #how-to .list-wrap .girls {
    left: 35%;
  }
}

@media screen and (max-width: 540px) {
  #how-to .list-wrap .girls {
    top: 120px;
    left: unset;
    right: 0;
    width: 230px;
  }
}

#features {
  position: relative;
  margin: 10rem 0 8rem;
  margin-top: 14rem;
}

#features .cards-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#features .cards-container p {
  opacity: 0.8;
}

#features .cards-container .home,
#features .cards-container .online,
#features .cards-container .group {
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 781px) {
  #features .cards-container .home,
  #features .cards-container .online,
  #features .cards-container .group {
    background-image: none;
  }
}

@media screen and (max-width: 780px) {
  #features .cards-container .home {
    background-image: url("../vectors/home-tutoring-bg.svg");
  }
  #features .cards-container .online {
    background-image: url("../vectors/online-tutoring-bg.svg");
  }
  #features .cards-container .group {
    background-image: url("../vectors/group-tutoring-bg.svg");
  }
}

#features .gradient-circle,
#features .yellow-circle {
  position: absolute;
}

@media screen and (max-width: 780px) {
  #features .gradient-circle,
  #features .yellow-circle {
    display: none;
  }
}

#features .yellow-circle {
  right: 35%;
}

#features .gradient-circle {
  bottom: -50px;
  right: 70%;
}

@media screen and (max-width: 976px) {
  #features .gradient-circle {
    left: 150x;
  }
}

@media screen and (max-width: 780px) {
  #features {
    margin: 10rem 0 3rem;
  }
}

@media screen and (max-width: 660px) {
  #features {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 540px) {
  #features {
    margin-top: 210px;
  }
}

#subjects {
  margin: 2rem 0 8rem;
  position: relative;
}

#subjects .circles {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
}

#subjects .lists-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#subjects .lists-container .list {
  position: relative;
  padding: 3rem 4rem;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 4px #00000050;
  box-shadow: 0 1px 4px #00000050;
  z-index: 1;
  background-color: #fff;
  text-align: center;
}

#subjects .lists-container .list li {
  margin: 1rem 0;
  color: #020112;
  opacity: 0.7;
  font-weight: 600;
}

#subjects .lists-container .list .btn {
  font-size: 14px;
  border-radius: 10px;
  margin-top: 2rem;
  background-color: #ffd43a;
  padding: 0.5rem 2rem;
  font-weight: 700;
}

@media screen and (max-width: 780px) {
  #subjects .lists-container .list {
    -webkit-box-shadow: 3px 3px 4px #00000050;
    box-shadow: 3px 3px 4px #00000050;
  }
}

#results h1 {
  text-align: center;
  color: #021729;
}

#results p {
  max-width: 780px;
  color: #021729;
  font-weight: 500;
  opacity: 0.7;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  #results .para {
    display: none;
  }
  #features .cards-container .home,
  #features .cards-container p {
    text-align: center;
  }
}

#results .cards-container {
  margin-top: 3rem;
  color: #fff;
}

#results .cards-container .card {
  /* margin: 1rem 2rem; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem 3rem;
  background-color: #000;
  border-radius: 10px;
  width: 200px;
}

#results .cards-container .card.blue {
  background-color: #2959d1;
}

#results .cards-container .card.dark-blue {
  background-color: #021729;
}

#results .cards-container .card * {
  color: #fff;
}

#results .cards-container .card h2 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 780px) {
  #results .cards-container .card {
    width: 80%;
  }
  #results .cards-container .card:first-child {
    background-color: #4e9f4b;
  }
  #results .cards-container .card h2 {
    text-align: left;
  }
  #results .cards-container .card p {
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  #results .cards-container .card {
    border-radius: 5px;
  }
}

#why-us {
  margin-top: 8rem;
}

#why-us .cards-container {
  text-align: center;
  max-width: 940px;
}

#why-us .blue-frame {
  margin-top: 4rem;
  background-color: #090c22;
  max-width: 830px;
  padding: 1rem 2rem;
  border-radius: 10px;
}

#why-us .blue-frame .group {
  max-width: 180px;
}

#why-us .blue-frame .group h3 {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  #why-us .blue-frame .group {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #ccc;
  }
  #why-us .blue-frame .group:last-child {
    border: 0;
  }
  #why-us .blue-frame .group .pink {
    color: #fff !important;
  }
}

@media screen and (max-width: 767px) {
  #why-us .blue-frame .group {
    max-width: 100%;
  }
  #why-us .blue-frame .group p {
    color: rgba(255, 255, 255, 0.6);
  }
}

#why-us .blue-frame * {
  color: #fff;
}

@media screen and (max-width: 767px) {
  #why-us .blue-frame {
    margin-top: 4rem;
    padding: 2rem;
  }
}

#who-we-are {
  margin-top: 5rem;
}

#who-we-are h3 {
  text-align: center;
  color: rgba(2, 23, 41, 0.5);
  max-width: 941px;
}

#who-we-are #slick {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#who-we-are #slick .slick-slide {
  position: relative;
}

#who-we-are #slick .slick-slide:not(.slick-center) .image-wrap img {
  border-radius: 136px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 1.5rem;
}

#who-we-are #slick .slick-slide .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1.5rem;
}

#who-we-are #slick .slick-slide .item .text {
  opacity: 0;
  padding: 1rem 1rem 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#who-we-are #slick .slick-slide .item .text * {
  color: #fff;
}

#who-we-are #slick .slick-slide .item .text h4 {
  font-weight: 400;
}

#who-we-are #slick .slick-slide .item .text .rating {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#who-we-are #slick .slick-slide .item .text .rating img {
  width: 1rem;
}

@media screen and (max-width: 970px) {
  #who-we-are #slick .slick-slide .item .text h2 {
    font-size: 18px;
  }
  #who-we-are #slick .slick-slide .item .text h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 860px) {
  #who-we-are #slick .slick-slide .item .text h2 {
    font-size: 16px;
  }
  #who-we-are #slick .slick-slide .item .text h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 730px) {
  #who-we-are #slick .slick-slide .item .text h2 {
    font-size: 14px;
  }
  #who-we-are #slick .slick-slide .item .text h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 685px) {
  #who-we-are #slick .slick-slide .item .text h2 {
    font-size: 20px;
  }
  #who-we-are #slick .slick-slide .item .text h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  #who-we-are #slick .slick-slide .item .text h2 {
    font-size: 18px;
  }
  #who-we-are #slick .slick-slide .item .text h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  #who-we-are #slick .slick-slide .item .text h2 {
    font-size: 14px;
  }
  #who-we-are #slick .slick-slide .item .text h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  #who-we-are #slick .slick-slide .item .text h2 {
    font-size: 18px;
  }
  #who-we-are #slick .slick-slide .item .text h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  #who-we-are #slick .slick-slide .item .text h2 {
    font-size: 14px;
  }
  #who-we-are #slick .slick-slide .item .text h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  #who-we-are #slick .slick-slide .item .text h2 {
    font-size: 18px;
  }
  #who-we-are #slick .slick-slide .item .text h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  #who-we-are #slick .slick-slide .item .text h2 {
    font-size: 14px;
  }
  #who-we-are #slick .slick-slide .item .text h4 {
    font-size: 12px;
  }
}

#who-we-are #slick .slick-slide .item img {
  width: 100%;
}

#who-we-are #slick .slick-slide.slick-center .item {
  padding: 0.5rem;
}

#who-we-are #slick .slick-slide.slick-center .item .text {
  opacity: 1;
}

#who-we-are #slick .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #e5e5e5;
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#who-we-are #slick .slick-arrow * {
  cursor: pointer;
}

#who-we-are #slick .slick-arrow.slick-next {
  right: -5rem;
}

#who-we-are #slick .slick-arrow.slick-prev {
  left: -5rem;
}

#who-we-are #slick .slick-arrow:hover {
  background-color: #b1b1b1;
}

#who-we-are .join-btn {
  background-color: #da4a54;
  padding: 0.75rem 0;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  font-size: 18px;
  padding: 0.75rem 1.5rem;
  display: block;
  cursor: pointer;
}

#our-values {
  margin-top: 6rem;
}

#our-values .cards-container .card {
  max-width: 280px;
}

#our-values .cards-container .card h3 {
  max-width: 300px;
}

#our-values .cards-container .card p {
  max-width: 250px;
  font-size: 1.1rem;
}

#our-values .get-tutor {
  position: relative;
  -webkit-box-shadow: 2px 2px 18px #00000025;
  box-shadow: 2px 2px 18px #00000025;
  padding: 4rem;
  max-width: 680px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

#our-values .get-tutor .btn {
  background-color: #ffd43a;
  display: block;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px #00000025;
  box-shadow: 0px 4px 4px #00000025;
}

#our-values .get-tutor h1 {
  max-width: 520px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0rem;
}

#our-values .get-tutor .graduated {
  position: absolute;
  right: 30px;
  bottom: -40px;
}

@media screen and (max-width: 767px) {
  #our-values .get-tutor .graduated {
    display: none;
  }
}

#our-values .get-tutor .whatsapp {
  position: absolute;
  right: 213px;
  bottom: 60px;
}

@media screen and (max-width: 767px) {
  #our-values .get-tutor .whatsapp {
    right: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -35px;
  }
  #our-values .get-tutor .right-arrow {
    left: 20px;
  }
}

#our-values .get-tutor .right-arrow {
  position: absolute;
}

@media screen and (max-width: 480px) {
  #our-values .get-tutor .right-arrow {
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  #our-values .get-tutor {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 767px) {
  #our-values .get-tutor {
    padding: 0rem;
  }
}

@media screen and (max-width: 767px) {
  #our-values h1.underline {
    border: 0;
  }
}

#contact {
  max-width: 1000px;
  margin: 10rem auto 2rem;
  overflow: hidden;
}

#contact h2 {
  font-size: 2rem;
  font-weight: 600;
}

#contact .row > * {
  padding: 3rem;
}

@media screen and (max-width: 992px) {
  #contact .row > * {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  #contact .row > * {
    padding-left: 0;
    padding-right: 0;
  }
}

#contact .talk-to-us {
  position: relative;
}

#contact .talk-to-us h1 {
  color: #000;
}

#contact .talk-to-us .text-us {
  position: absolute;
  width: 120px;
  right: 30px;
  top: 0px;
}

@media screen and (max-width: 780px) {
  #contact .talk-to-us .text-us {
    display: none;
  }
}

#contact .talk-to-us .form-control {
  margin: 1rem 0;
}

#contact .talk-to-us .form-control input,
#contact .talk-to-us .form-control textarea {
  padding: 0.5rem;
  display: block;
  margin: 5px 0;
  width: 325px;
  border: 2px solid #000;
  border-radius: 5px;
}

@media screen and (max-width: 780px) {
  #contact .talk-to-us .form-control input,
  #contact .talk-to-us .form-control textarea {
    width: 100%;
  }
}

#contact .talk-to-us .btn {
  position: relative;
  background-color: #64b161;
  color: #fff;
  padding: 1rem;
  border: 0;
  font-size: 20px;
  text-align: center;
  width: 325px;
  border-radius: 7px;
  height: 42px;
}

#contact .talk-to-us .btn img {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 780px) {
  #contact .talk-to-us .btn {
    margin-left: initial;
    margin-right: initial;
    width: 100%;
  }
  #contact .talk-to-us .btn img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #contact .talk-to-us {
    padding-bottom: 0;
  }
}

#contact .join-community {
  padding: 2rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(50%, #183651),
    to(#7a899d)
  );
  background-image: linear-gradient(to bottom right, #183651 50%, #7a899d 100%);
  border-radius: 5px;
}

#contact .join-community * {
  color: #fff;
}

#contact .join-community h1 {
  font-size: 40px;
}

#contact .join-community p {
  margin-bottom: 0.5rem;
  line-height: 2;
  font-size: 16px;
}

#contact .join-community .cite {
  color: #cacaca;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  #contact .join-community {
    margin-left: -12px;
    margin-right: -12px;
    border-radius: 0;
  }
  #contact .join-community h1 {
    font-size: 30px;
  }
  #contact .container-fluid {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 780px) {
  #contact {
    margin-top: 0rem;
  }
  #contact * {
    text-align: left !important;
  }
}

@media screen and (max-width: 767px) {
  #contact .col-md-6 {
    padding-bottom: 0;
  }
}

#footer {
  background-color: #000;
  padding: 3rem 5rem 1rem;
  margin-top: 8rem;
}

#footer * {
  color: #fff;
}

#footer .logo {
  width: 10rem;
}

#footer .logo.dark {
  width: 7rem;
  margin-bottom: 0;
}

#footer h2,
#footer .logo {
  margin-bottom: 1rem;
}

#footer li {
  margin: 1rem 0;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  #footer li {
    font-weight: 500;
  }
}

#footer .social {
  max-width: 150px;
  margin-left: auto;
}

#footer .legal > * {
  margin: 0 1rem;
}

@media screen and (max-width: 767px) {
  #footer .legal > * {
    margin: 0;
  }
}

@media screen and (min-width: 781px) {
  #footer .legal {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 767px) {
  #footer {
    padding-top: 0;
    background-color: transparent;
  }
  #footer * {
    color: #000;
  }
  #footer .light,
  #footer .mail,
  #footer .whatsapp {
    display: none;
  }
  #footer .social {
    margin-left: unset;
    margin-right: auto;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  #footer .social img {
    margin-right: 1rem;
  }
  #footer .copyright {
    opacity: 0;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 965px) {
  #footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #footer a {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 845px) {
  #footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 767px) {
  #footer .dark {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  #landing .dark-card .cta-btn {
    width: 100%;
    left: 50%;
  }
}

@media screen and (max-width: 425px) {
  #landing .dark-card .main {
    font-size: 2.2rem;
  }
  .container-testim .card {
    padding: 20px 10px;
  }
  #contact .join-community h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 423px) {
  .container-testim .rating {
    bottom: 19px;
  }
  .container-testim .indicators {
    bottom: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */

@media screen and (max-width: 390px) {
  #how-to .list-wrap .girls {
    top: 150px;
  }
}
